@font-face {
    font-family: 'Calibri';
    src: url('calibri.eot');
 }

span {
    font-weight: bold;
}

h1{
    font-weight: lighter;
    font-size: 40px;
}

.blue{
    color: rgb(37, 37, 184);
    list-style-type: square;
}

.green{
    color: rgb(4, 124, 4);
    list-style-type: disc;
}

li{
    color: rgb(201, 7, 7);
}

body{
    font-size: 20px;
    font-family: 'Calibri';
}

ul{
    list-style-type: circle;
    margin: 8px;
}

